%p#notice= notice

%p
  %b Name:
  = @episode.name
%p
  %b Permalink:
  = @episode.permalink
%p
  %b Description:
  = @episode.description

= link_to 'Edit', edit_episode_path(@episode)
\|
= link_to 'Back', episodes_path
